<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>iris_pedia</title>
    <link rel="stylesheet" href="{{ '/style.css' | url }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zen+Kaku+Gothic+New&display=swap" rel="stylesheet">


</head>
<body>
    <div id="sidebar">

        <h1 class="sidebar-logo">
            <a href="{{ '/' | url }}">
                <img src="{{ '/images/iris_logo.png' | url }}" alt="iris">
            </a>
        </h1>
        <h2><a href="{{ '/' | url }}">IRIS_PEDIA</a></h2>

        <details>
            <summary>まずはここから</summary>
            <ul>
                {% for post in collections.introduction %}
                    <li>
                        <a href="{{ post.url | url}}">{{ post.data.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </details>

        <details>
            <summary>TRPGルール</summary>
            <ul>
                {% for post in collections.trpg %}
                    <li>
                        <a href="{{ post.url | url}}">{{ post.data.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </details>

        <details>
            <summary>インフラ・システム</summary>
            <ul>
                {% for post in collections.infra_systems %}
                    <li>
                        <a href="{{ post.url | url}}">{{ post.data.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </details> 

        <details>
            <summary>宗教・その他</summary>
            <ul>
                {% for post in collections.organization %}
                    <li>
                        <a href="{{ post.url | url}}">{{ post.data.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </details> 
       
    </div>

    <main>
        <article class="content-body">
            {{ content }}
        </article>
    </main>
</body>
</html>