<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>iris_pedia</title>
    <link rel="stylesheet" href="/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zen+Kaku+Gothic+New&display=swap" rel="stylesheet">


</head>
<body>
    <div id="sidebar">

        <h1 class="sidebar-logo">
            <a href="/">
                <img src="\images\iris_logo.png" alt="iris">
            </a>
        </h1>
        <h2><a href="/">IRIS_PEDIA</a></h2>

        <details>
            <summary>まずはここから</summary>
            <ul>
                {% for post in collections.introduction %}
                    <li>
                        <a href="{{ post.url }}">{{ post.data.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </details>

        <details>
            <summary>インフラ・設備</summary>
            <ul>
                {% for post in collections.infra %}
                    <li>
                        <a href="{{ post.url }}">{{ post.data.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </details>

       
    </div>

    <main>
        <article class="content-body">
            {{ content }}
        </article>
    </main>
</body>
</html>